.vs/
DispensingWorkMessageTest/bin/Debug/outWorkRecord_Vrt.json
DispensingWorkMessageTest/bin/Debug/outWorkRecord_Single.json
DispensingWorkMessageTest/bin/Debug/outWorkRecord_Blend.json
DispensingWorkMessageTest/bin/Debug/outWorkOrder_Vrt.json
DispensingWorkMessageTest/bin/Debug/outWorkOrder_Single.json
DispensingWorkMessageTest/bin/Debug/outWorkOrder_Blend.json
DispensingWorkMessageTest/bin/Debug/DispensingWorkMessageTest.exe.config
DispensingWorkMessageTest/bin/Debug/inWorkRecord_Vrt.json
DispensingWorkMessageTest/bin/Debug/inWorkRecord_Single.json
DispensingWorkMessageTest/bin/Debug/inWorkRecord_Blend.json
DispensingWorkMessageTest/bin/Debug/inWorkOrder_Vrt.json
DispensingWorkMessageTest/bin/Debug/inWorkOrder_Single.json
DispensingWorkMessageTest/bin/Debug/inWorkOrder_Blend.json
